<h1>Editing message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :SmsMessageSid %><br />
    <%= f.text_field :SmsMessageSid %>
  </p>
  <p>
    <%= f.label :AccountSid %><br />
    <%= f.text_field :AccountSid %>
  </p>
  <p>
    <%= f.label :Body %><br />
    <%= f.text_field :Body %>
  </p>
  <p>
    <%= f.label :From %><br />
    <%= f.text_field :From %>
  </p>
  <p>
    <%= f.label :To %><br />
    <%= f.text_field :To %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>